<div class="parallax-container valign-wrapper" id="index-banner">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center white-text">
                <h3 class="header-title">HIRE A VA OR DEDICATED TEAM</h3>
                <h4 class="light">Busy with other important works that needs to be taken care of?</h4>
            </div>
            <div class="row center">
                <a href="#contactForm" class="btn waves-effect waves-light theme-yellow grey-text text-darken-4">GET STARTED</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/bg.jpg"></div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h4 class="light">Are You Running Out Of Time?</h4>
                <p>Day after day, repetitive tasks put a dent on your productivity and make you fall behind on your otherwise flawless schedule.
                    <br> As your responsibilities grow, your patience for such time-consuming and often trivial chores wanes.
                    <br> What if we told you that you don’t have to feel weighed down by these mounting obligations anymore?
                </p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m6 push-m6">
                <div class="img-appint">
                    <img class="responsive-img" src="images/va.png">
                </div>
            </div>
            <div class="col s12 m6 pull-m6">
                <p><b>Get Your Very Own Virtual Assistant</b></p>
                <p>Instead of relying on in-house staff, and diverting them from their various responsibilities, you can have a dedicated VA at your disposal, at all times.</p>
                <p>A VA is able to perform all assigned tasks, free of other duties that might detract from his or her performance.</p>
                <p>As your VA will be specifically trained to accommodate your needs and follow your demanding work load, you will be able to relish in knowing that all the minutiae are being taken care of in the best way possible, allowing you to go about your day, knowing you remain in line with your commitments.</p>
            </div>
        </div>
    </div>
</div>
<div class="section grey lighten-5">
    <div class="container">
        <div class="row">
            <div class="col s12">
                <table>
                    <tr class="table-header">
                        <th>SERVICE</th>
                        <th>HOURLY</th>
                        <th>MONTHLY</th>
                        <th>QUARTERLY</th>
                        <th>HALF YEARLY</th>
                        <th>YEARLY</th>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Data Entry</span></td>
                        <td>$3.49</td>
                        <td>$499</td>
                        <td>$1422</td>
                        <td>$2784</td>
                        <td>$5568</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Graphic Designer</span></td>
                        <td>$4.99</td>
                        <td>$649</td>
                        <td>$1850</td>
                        <td>$3621</td>
                        <td>$7742</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Website Maintenance</span></td>
                        <td>$3.99</td>
                        <td>$599</td>
                        <td>$1707</td>
                        <td>$3342</td>
                        <td>$6684</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Social Media Management</span></td>
                        <td>$3.99</td>
                        <td>$599</td>
                        <td>$1707</td>
                        <td>$3342</td>
                        <td>$6684</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Live Chat and Email Support</span></td>
                        <td>$3.99</td>
                        <td>$599</td>
                        <td>$1707</td>
                        <td>$3342</td>
                        <td>$6684</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Telephone Support</span></td>
                        <td>$3.99</td>
                        <td>$599</td>
                        <td>$1707</td>
                        <td>$3342</td>
                        <td>$6684</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Live Chat, Email and Telephone Support</span></td>
                        <td>$5.49</td>
                        <td>$749</td>
                        <td>$2135</td>
                        <td>$4179</td>
                        <td>$8358</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Account Manager</span></td>
                        <td>$4.49</td>
                        <td>$649</td>
                        <td>$1850</td>
                        <td>$3631</td>
                        <td>$7742</td>
                    </tr>
                    <tr>
                        <td class="left-align"><span>Web Development</span></td>
                        <td>$6.49</td>
                        <td>$949</td>
                        <td>$2704</td>
                        <td>$5296</td>
                        <td>$10592</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="img-appint">
                    <img class="responsive-img" src="images/virtual-team.png">
                </div>
            </div>
            <div class="col s12 m6">
                <p><b>Hire a dedicated virtual team</b></p>
                <p>Need a lot of work to be done in a very short time and looking for resources? Search no more.</p>
                <p>Hire our staff who are flexible and enthusiastic to work in different fields if required.</p>
                <p>Our technical and non technical staff are into different business processes to save our client's time and money.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="flex-container center">
            <div class="pricing-toggle">
                <span class="plan-selector" ng-class="{'selected' : selected == 0}" ng-click="selectMode(0)">Monthly</span>
                <span class="plan-selector" ng-class="{'selected' : selected == 1}" ng-click="selectMode(1)">Quarterly</span>
            </div>
        </div>
        <div class="flex-container pricing">
            <div class="pricing-chart-container center" ng-repeat="item in plans">
                <div class="plan-name" ng-class="{{item.planColor}}">{{item.planName}}</div>
                <div class="plan-price" ng-class="{{item.headerColor}}"><span>$</span>
                    <h3>{{item.price}}</h3><span>/mo</span></div>
                <div class="plan-info">
                    <ul>
                        <li ng-repeat="desc in item.details">{{desc}}</li>
                    </ul>
                    <div class="expand-cont">
                        Need more hours of work?
                        <br>Use ADDON <i class="fa fa-chevron-down arrow-down" aria-hidden="true"></i><i class="fa fa-chevron-up arrow-up" aria-hidden="true"></i>
                    </div>
                    <ul class="sub-cont close">
                        <li ng-repeat="addon in item.addons">{{addon}}</li>
                    </ul>
                    <a href="#contactForm" class="btn waves-effect waves-light grey-text text-darken-4" ng-class="{{item.planColor}}">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section theme-yellow">
    <div class="container">
        <div class="row">
            <div class="col s12 center">
                <h5>Top-Of-The-Line Efficiency</h5>
                <p class="light">You’ll never feel as if though you are wasting time and money, watching your personal assistant take numerous coffee breaks or chatting with fellow employees at work.</p>
                <p class="light">Your money is an investment towards freeing up vital time, which you can use to be your best self.</p>
                <b>We Honor Your Trust. Let Us Help You Find The Best Person For Your Needs!</b>
            </div>
        </div>
    </div>
</div>
<div class="container" id="contactForm">
    <div class="section">
        <div class="row center">
            <h5 class="light">Send us your request today</h5>
        </div>
        <div class="row">
            <form class="col s12 contact-form" method="post" action="/contact.php?page=quote">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fa fa-user prefix" aria-hidden="true"></i>
                        <input id="name" type="text" class="validate" name="name" required>
                        <label for="name">Name *</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-university prefix" aria-hidden="true"></i>
                        <input id="businessName" type="text" class="validate" name="business_name" required>
                        <label for="businessName">Business Name *</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                        <input id="email" type="email" name="email" class="validate" required>
                        <label for="email" data-error="Enter a valid email address">Email Address *</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-phone prefix" aria-hidden="true"></i>
                        <input id="phone" type="text" class="validate" name="phone" required>
                        <label for="phone">Phone</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-globe prefix" aria-hidden="true"></i>
                        <input id="weburl" type="text" class="validate" name="weburl">
                        <label for="weburl">Website URL</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-calendar prefix" aria-hidden="true"></i>
                        <input type="date" class="datepicker" id="project_date" name="duedate">
                        <label for="project_date">Project Due Date (if applicable)</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-usd prefix" aria-hidden="true"></i>
                        <select name="package">
                            <option value="" disabled selected>Choose you option</option>
                            <option value="Green">Green</option>
                            <option value="Orange">Orange</option>
                            <option value="Blue">Blue</option>
                        </select>
                        <label>Package Selected</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fa fa-comment prefix" aria-hidden="true"></i>
                        <textarea name="services" id="textarea1" class="materialize-textarea" length="1000" required></textarea>
                        <label for="textarea1">Describe what services you require *</label>
                    </div>
                    <div class="form-error col s12 red-text">
                        <div>There was a problem submitting your request, please try again.
                            <br>Please enter the following fields</div>
                        <div class="error-msg">
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <input type="submit" value="GET QUOTE" name="submit" class="btn waves-effect waves-light grey-text text-darken-4 theme-yellow">
                </div>
            </form>
        </div>
    </div>
</div>
