<div class="parallax-container valign-wrapper" id="index-banner">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center white-text">
                <h3 class="header-title">SHOPIFY SMALL TASKS SUPPORT</h3>
                <h4 class="light">Need your Shopify store to meet your needs?</h4>
            </div>
            <div class="row center">
                <a href="#contactForm" class="btn waves-effect waves-light theme-yellow grey-text text-darken-4">GET STARTED</a>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="images/bg.jpg"></div>
</div>
<div class="section">
    <div class="container custom-container">
        <div class="row">
            <div class="col s12 center">
                <h4>Get Your Small Tasks Done Faster & Better</h4>
                <h5 class="light">Our shopify experts team knows which shopify apps suit your business style</h5>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>If you are a Shopify entrepreneur with an eCommerce store already set up and you’ re now simply looking for some expert support with small fixes and tweaks to help you optimize your online presence, then <b>you’ve come to the right place.</b>
                    <br> Our team of eCommerce experts is always available to provide you with the most reliable recommendations and tips for the perfect store set up and handle <b>small task requests.</b></p>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p><b>What is a small task?</b>
                    <br>A small task is any web page design, development or app support related job that usually takes less than an hour to complete.</p>
            </div>
        </div>
        <div class="row row-item">
            <div class="col s12 m6 push-m6">
                <div class="img-container">
                    <img class="responsive-img" src="images/small_task.png">
                </div>
            </div>
            <div class="col s12 m6 pull-m6">
                <p><b>A few examples of small tasks that we can gladly do for you are:</b></p>
                <ul class="custom-list">
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Real time updates of your product prices</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Addition of discounts, coupons and freebies</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>HTML changes </span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Design, style and CSS adjustments</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>App support and modifications</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Theme layout improvements</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Visual theme customization</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>JavaScript changes</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Billing, payout and payment questions</span></li>
                    <li><i class="fa fa-check theme-yellow-text" aria-hidden="true"></i><span>Social media pictures and more…</span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col s12">
                <p>This list is not exhaustive, so do not hesitate to <b>contact us and find out if your request qualifies as a small Shopify task.</b> We’ll be more than happy to assist you.</p>
                <p>Build a thriving eCommerce business and <b>avoid common mistakes</b> by trusting our team of experts.</p>
                <p>With a <b>super quick response time and excellent quality</b>, you’ll have your small tasks ready in a whiz.</p>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container flex-container">
        <div class="pricing-chart flex-container">
            <div class="plan-pricing center">
                <div class="plan-name">Single Task</div>
                <div class="plan-price"><span>$</span>
                    <h3>24.99</h3><span>/task</span>
                    <br>Billed Once</div>
            </div>
            <div class="plan-info center">
                <ul>
                    <li>1 Shopify task</li>
                    <li>2 business days turn around</li>
                    <li>6 hours response time</li>
                </ul>
                <a href="#contactForm" class="btn waves-effect waves-light grey-text theme-yellow text-darken-4">GET STARTED</a>
            </div>
        </div>
    </div>
</div>
<div class="section">
    <div class="container">
        <div class="flex-container center">
            <div class="pricing-toggle">
                <span class="plan-selector" ng-class="{'selected' : selected == 0}" ng-click="selectMode(0)">Monthly</span>
                <span class="plan-selector" ng-class="{'selected' : selected == 1}" ng-click="selectMode(1)">Quarterly</span>
            </div>
        </div>
        <div class="flex-container pricing">
            <div class="pricing-chart-container center" ng-repeat="item in plans">
                <div class="plan-name" ng-class="{{item.planColor}}">{{item.planName}}</div>
                <div class="plan-price" ng-class="{{item.headerColor}}"><span>$</span>
                    <h3>{{item.price}}</h3><span>/mo</span></div>
                <div class="plan-info">
                    <ul>
                        <li ng-repeat="desc in item.details">{{desc}}</li>
                    </ul>
                    <a href="#contactForm" class="btn waves-effect waves-light grey-text text-darken-4" ng-class="{{item.planColor}}">GET STARTED</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" id="contactForm">
    <div class="section">
        <div class="row center">
            <h5 class="light">Please do contact us if you need extra services.<br>Go through the staffing plans in case you need store maintenance support</h5>
        </div>
        <div class="row">
            <form class="col s12 contact-form" method="post" action="/contact.php?page=quote">
                <div class="row">
                    <div class="input-field col s12 m6">
                        <i class="fa fa-user prefix" aria-hidden="true"></i>
                        <input id="name" type="text" class="validate" name="name" required>
                        <label for="name">Name *</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-university prefix" aria-hidden="true"></i>
                        <input id="businessName" type="text" class="validate" name="business_name" required>
                        <label for="businessName">Business Name *</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-envelope prefix" aria-hidden="true"></i>
                        <input id="email" type="email" name="email" class="validate" required>
                        <label for="email" data-error="Enter a valid email address">Email Address *</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-phone prefix" aria-hidden="true"></i>
                        <input id="phone" type="text" class="validate" name="phone" required>
                        <label for="phone">Phone</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-globe prefix" aria-hidden="true"></i>
                        <input id="weburl" type="text" class="validate" name="weburl">
                        <label for="weburl">Website URL</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-calendar prefix" aria-hidden="true"></i>
                        <input type="date" class="datepicker" id="project_date" name="duedate">
                        <label for="project_date">Project Due Date (if applicable)</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-usd prefix" aria-hidden="true"></i>
                        <select name="package">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="Single Task">Single Task</option>
                            <option value="Green">Green</option>
                            <option value="Orange">Orange</option>
                            <option value="Blue">Blue</option>
                        </select>
                        <label>Task Package*</label>
                    </div>
                    <div class="input-field col s12 m6">
                        <i class="fa fa-calendar-o prefix" aria-hidden="true"></i>
                        <select name="subscription">
                            <option value="" disabled selected>Choose your option</option>
                            <option value="NA">N/A</option>
                            <option value="Monthly">Monthly</option>
                            <option value="Quarterly">Quarterly</option>
                        </select>
                        <label>Subscription Period*</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="fa fa-comment prefix" aria-hidden="true"></i>
                        <textarea name="services" id="textarea1" class="materialize-textarea" length="1000" required></textarea>
                        <label for="textarea1">Describe what services you require *</label>
                    </div>
                    <div class="form-error col s12 red-text">
                        <div>There was a problem submitting your request, please try again.
                            <br>Please enter the following fields</div>
                        <div class="error-msg">
                        </div>
                    </div>
                </div>
                <div class="row center">
                    <input type="submit" value="GET QUOTE" name="submit" class="btn waves-effect waves-light grey-text text-darken-4 theme-yellow">
                </div>
            </form>
        </div>
    </div>
</div>
